.footer{
    background-color: #30B16A;
    width: 100%;
    bottom: 0;
    position: relative;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    color: #F9F9F9;
}
.footer-1{
    width: 350px;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-text{
    margin-left: 3px;
    font-weight: bold;
    font-size: 20px
}
.copyright{
    float: right;
    margin-top: 55px;
    font-size: 14px;
}
.footer-2{
    width: 350px;
    margin-left: 100px;
}
.contact-title{
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer-2-detail{
    font-size: 14px;
}
.email{
    margin-bottom: 10px;
}
.address{
    margin-bottom: 10px;
}
.footer-3{
    width: 350px;
}
.footer-3-title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.subscribe-text{
    margin-bottom: 10px;
}
.subscribe-content{
    font-size: 14px;
}
.subscribe-form{
    display: flex;
    align-items: center;
}
.input-subscribe{
    width: 200px;
    height: 30px;
    background-color: #30B16A;
    border: 1px #FEFEFE solid;
    border-radius: 2px;
}
.subscribe-form button{
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    margin-left: 5px;
    border-radius: 2px;
    color: #30B16A;
    text-transform: uppercase;
}