.scan-page{
    min-height: 100vh;
}
.scan-content{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 12%;
}
.scan-header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.input-scan{
    width: 100%;
    height: 200px;
    margin: 1px;
    padding: 1px;
    resize: none;
}
.input-scan::-webkit-input-placeholder {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }
.submit-scan{
    float: right;
    margin-top: 10px;
}
.scan-button{
    background-color: #36454F;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #F9F9F9;
    padding: 10px 70px;
    text-transform: uppercase;
    font-weight: bold;
}
.scan-result{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: #fefefe;
    text-align: center;
    width: 500px;
    max-width: 80%;
}
.scan-result.active{
    transform: (-50%, -50%) scale(1);
}
.report-condition{
    padding: 20px 50px;
}
.report-text{
    margin-bottom: 20px;
}
.report-button{
    margin-bottom: 30px;
}
.report-button button{
    padding: 10px 15px;
    border-radius: 3px;
}
.report-yes-condition{
    border: 1px #30B16A solid;
    background-color: #30B16A;
    color: #F9F9F9;
}
.report-no-condition{
    border: 1px#FF0000 solid;
    background-color: #F9F9F9;
    color: #FF0000;
}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}